<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        package="com.mxmariner.tides.station">

    <dist:module
            dist:instant="true"
            dist:onDemand="false"
            dist:title="@string/module_name">
        <dist:fusing dist:include="false" />
    </dist:module>

    <application>
        <activity
                android:parentActivityName="com.mxmariner.tides.main.activity.MainActivity"
                android:name=".StationActivity"
                android:theme="@style/AppTheme">
            <intent-filter
                    android:autoVerify="true"
                    android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="mxmariner.com" />
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:path="/tides/station" />
                <data android:pathPattern="/tides/station?.*" />
            </intent-filter>
        </activity>
    </application>

</manifest>