<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mxmariner.tides.station">

    <application>
        <activity android:name=".StationActivity"
            android:theme="@style/AppTheme">
            <intent-filter
                android:autoVerify="true"
                android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="mxmariner.com" />
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:path="/tides/station" />
                <data android:pathPattern="/tides/station/.*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="mxmariner.com" />
                <data android:scheme="madrona" />
                <data android:path="/tides/station" />
                <data android:pathPattern="/tides/station/.*" />
            </intent-filter>
        </activity>
    </application>

</manifest>